<!DOCTYPE html>
<html lang="zh">
<head>
    #include("head.vm")
    $head
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default">
    <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
    </script>

    #parse("top.vm")
    <!-- /.navbar-container -->
</div>

#parse("main.vm")



<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery.min.js'>" + "<" + "/script>");
</script>


<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>


<div class="tooltip top in" style="display: none;">
    <div class="tooltip-inner"></div>
</div>
</body>
</html>