#macro(elem $class)
<li class=$class>
    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
        <i class="ace-icon fa fa-tasks"></i>
        <span class="badge badge-grey">10</span>
    </a>

    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-check"></i>
            7 Tasks to complete
        </li>

        <li class="dropdown-content ace-scroll" style="position: relative;">
            <div class="scroll-track" style="display: none;">
                <div class="scroll-bar"></div>
            </div>
            <div class="scroll-content" style="max-height: 200px;">
                <ul class="dropdown-menu dropdown-navbar">
                    <li>
                        <a href="javascript:void(0)">
                            <div class="clearfix">
                                <span class="pull-left">Software Update</span>
                                <span class="pull-right">65%</span>
                            </div>

                            <div class="progress progress-mini">
                                <div style="width:65%" class="progress-bar"></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <div class="clearfix">
                                <span class="pull-left">Hardware Upgrade</span>
                                <span class="pull-right">35%</span>
                            </div>

                            <div class="progress progress-mini">
                                <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <div class="clearfix">
                                <span class="pull-left">Unit Testing</span>
                                <span class="pull-right">15%</span>
                            </div>

                            <div class="progress progress-mini">
                                <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <div class="clearfix">
                                <span class="pull-left">Bug Fixes</span>
                                <span class="pull-right">90%</span>
                            </div>

                            <div class="progress progress-mini progress-striped active">
                                <div style="width:90%" class="progress-bar progress-bar-success"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="dropdown-footer">
            <a href="javascript:void(0)">
                See tasks with details
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>
#end