#macro(message)
<li class="green">
    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
        <span class="badge badge-success">5</span>
    </a>

    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-envelope-o"></i>
            5 条信息
        </li>

        <li class="dropdown-content ace-scroll" style="position: relative;">
            <div class="scroll-track" style="display: none;">
                <div class="scroll-bar"></div>
            </div>
            <div class="scroll-content" style="max-height: 200px;">
                <ul class="dropdown-menu dropdown-navbar">
                    <li>
                        <a href="javascript:void(0)" class="clearfix">
                            <img src="/static/ace/img/avatar.png" class="msg-photo"
                                 alt="Alex&#39;s Avatar">
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">刘备:</span>
														回去无人理解理解了撒 ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>a moment ago</span>
													</span>
												</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" class="clearfix">
                            <img src="/static/ace/img/avatar3.png" class="msg-photo"
                                 alt="Susan&#39;s Avatar">
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">曹操:</span>
														委屈热计量开始大家发垃圾费拉屎的肌肤 ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>20 minutes ago</span>
													</span>
												</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" class="clearfix">
                            <img src="/static/ace/img/avatar4.png" class="msg-photo"
                                 alt="Bob&#39;s Avatar">
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">孙权:</span>
														卡卡里就打开了世界方腊时看到就疯 ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>3:15 pm</span>
													</span>
												</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" class="clearfix">
                            <img src="/static/ace/img/avatar2.png" class="msg-photo"
                                 alt="Kate&#39;s Avatar">
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Kate:</span>
														Ciao sociis natoque eget urna mollis ornare ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>1:33 pm</span>
													</span>
												</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" class="clearfix">
                            <img src="/static/ace/img/avatar5.png" class="msg-photo"
                                 alt="Fred&#39;s Avatar">
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Fred:</span>
														Vestibulum id penatibus et auctor  ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>10:09 am</span>
													</span>
												</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="dropdown-footer">
            <a href="http://ace.jeka.by/inbox.html">
                See all messages
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>
#end