<ul id="myprompt_menu" class="p_pop"
    style="position: absolute; z-index: 301; left: 1398.33px; top: 106.764px; display: none;" initialized="true">
    <li><a href="http://nztdsm5.com/home.php?mod=space&amp;do=pm" id="pm_ntc"
           style="background-repeat: no-repeat; background-position: 0 50%;" class=""><em class="prompt_news_0"></em>消息</a>
    </li>
    <li><a href="http://nztdsm5.com/home.php?mod=follow&amp;do=follower"><em class="prompt_follower_0"></em>新听众</a></li>
    <li class="ignore_noticeli"><a href="javascript:;"
                                   onclick="setcookie(&#39;ignore_notice&#39;, 1);hideMenu(&#39;myprompt_menu&#39;)"
                                   title="暂不提醒"><em class="ignore_notice"></em></a></li>
</ul>
<ul id="myitem_menu" class="p_pop" style="display: none;">
    <li><a href="http://nztdsm5.com/forum.php?mod=guide&amp;view=my">帖子</a></li>
    <li><a href="http://nztdsm5.com/home.php?mod=space&amp;do=favorite&amp;view=me">收藏</a></li>
    <li><a href="http://nztdsm5.com/home.php?mod=space&amp;do=friend">好友</a></li>
</ul>